services:
	- App\Router\RouterFactory::createRouter
#	- App/Model/Authenticator

	commands.foo:
		class: App\Console\AddUserCommand
		tags: [console.command: user:add]

	CategoryRepository:
		class: App\Model\Repository\CategoryRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Model\Entity\Category')

	ProductRepository:
		class: App\Model\Repository\ProductRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Model\Entity\Product')

	ArticleRepository:
		class: App\Model\Repository\ArticleRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Model\Entity\Article')

	RoleRepository:
		class: App\Model\Repository\RoleRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Model\Entity\Role')

	UserXRoleRepository:
		class: App\Model\Repository\UserXRoleRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Model\Entity\UserXRole')

	ImageRepository:
		class: App\Model\Repository\ImageRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Model\Entity\Image')

	ImageTypeRepository:
		class: App\Model\Repository\ImageTypeRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('App\Model\Entity\ImageType')
